body {
    background-color: #ffffff;
    /* font-family: 'Open Sans'; */
}

#footer {
    background-color: #ffffff;
}

.box.special {
    border-radius: 0% 10%;
    background-color: lightblue;
}

#cta {
    color: white;
    background-color: lightblue;
}

.box.special.features {
    background-color: lightblue;
    border-radius: 0%;
}

#featured-image {
    border-radius: 0% 10% 0% 0%;
}

.button.alt {
    color: black;
    background-color: #ffffff;
}