body {
    background-color: #ffffff;
    /* font-family: 'Open Sans'; */
}

#footer {
    background-color: #ffffff;
}

.box.special {
    background-color: transparent;
    box-shadow: none;
}

#cta {
    color: white;
    background-color: lightblue;
}

.box.special.features {
    background-color: lightblue;
    border-radius: 0%;
}

#featured-image {
    border-radius: 5% 5% 5% 5%;
}

.button.alt {
    border-color: black;
    color: black;
}

.box.special.features {
    width: 100%;
}