body {
    background-color: #ffffff;
    font-family: 'Open Sans';
}

#footer {
    background-color: #ffffff;
}

.box.special {
    /* border-radius: 100px; */
    background-color: #E9F1FA;
}

#cta {
    color: white;
    background-color: #00ABE4;
}

img.rounded-corners {
    border-radius: 30px;
}