body {
    background-color: #ffffff;
    font-family: 'Josefin Sans';
}

#footer {
    background-color: #ffffff;
}

.box.special {
    background-color: transparent;
    box-shadow: none;
}

#cta {
    color: white;
    background-color: lightblue;
}

.box.special.features {
    background-color: lightblue;
    border-radius: 0%;
}

#featured-image {
    border-radius: 5% 5% 5% 5%;
    margin-bottom: 0%;
}

.button.alt {
    border-color: black;
    color: black;
}

#main {
    width: 100%;
}

#map {
    width: 60%;
    margin: auto;
    bottom: 50px;
}

#index-card {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}